.outerLogin{
    display: flex;
    justify-content: center;
    align-items: center;
    height:100vh;
    width:100%;
}


.outer-right-div{
    display: flex;
    flex-direction: column;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    padding: 20px 10px;
    justify-content: center;
    gap : 10px;

}


.right-div{
    padding: 25px 25px;
}

.forgot-div{
    display: flex;
    justify-content: space-between;
    transition: transform 0.3s ease;
    
}

.forgot-div p{
    font-weight: 800;
    font-size: 20px;
}

.forgot-div p:hover{

    cursor: pointer;
    transform:scale(1.1);
    
}

.outer-right-div h1{

    margin:auto;
    color:orangered;

}

.inputField{
    padding : 8px 8px;

}

.login-button{
    height:32.5px;
    background-color: #007BFF;
    font-size: 16px;
    color:white;
    border-style: none;
    transition : transform 0.3s ease;
}

.login-button:hover{
    cursor : pointer;
    transform: scale(1.03) translateY(-5px);
}

.or-login{
    margin: auto;
}

.glogin-button{
    height:32.5px;
    background-color: #FF4500;
    font-size: 16px;
    color:white;
    border-style: none;
    transition : transform 0.3s ease
}

.glogin-button:hover{
    
    cursor : pointer;
    transform: scale(1.05)translateY(-5px);
}


.accountText{
    font-size: 15px;
    font-weight: 500;
}

.accountText:hover{
    scale : 1.9
}

.imageAnimation-div {
    width: 100px;
    height: 100px;
    /* background-color: blue; */
    position: absolute;
    top: 0;
    left: 30%;
    transform: translateX(-30%);
    animation: slideFromTop 1s ease-in-out forwards;
  }


  .animationDiv-div {
    position: absolute;
    top: 0;
    left: 80%;
    width:500px;
    transform: translateX(-80%);
    animation: slideFromTop 1s ease-in-out forwards;
  }

  @keyframes slideFromTop {
    0% {
      top: -100px;
    }
    100% {
      top: 40%;
    }
  }

  @media screen and (max-width: 1225px) {
    .imageAnimation-div {
        display: none;
    }
}